* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: peru;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.card {
    background-color: white;
    width: 344px;
    border-radius: 15px;

}

.card-image {
    background-color: gold;
    height: 360px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.car-1 {
    background-image: url('PC..png');
}

.car-2 {
    background-image: url('sm.jpg');
}

.car-3 {
    text-align: center;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: border-color 0.3s
}


.card h2 {
    width: 300px;
    text-align: center;
    justify-content: center;
}

.card p {
    padding: 10px;
}

.card a {
    background-color: yellowgreen;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 20px;
    text-decoration: none;
}

.card :hover {
    background-color: palevioletred;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

#submit {
    border: none;
    background-color: orangered;
    color: white;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
}

#submit:hover {
    background-color: yellowgreen;
